
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #4e73df, #1cc88a);
}


.card {
    background: #ffffff;
    padding: 35px 30px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    text-align: center;
}


.card h1 {
    margin-bottom: 25px;
    color: #333;
}

.card h2 {
    margin-bottom: 20px;
    color: #333;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: #4e73df;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: #2e59d9;
}

.form-group {
    text-align: left;
    margin-bottom: 15px;
}

.form-group label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    color: #444;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.form-group input:focus {
    border-color: #4e73df;
    outline: none;
}

.link-text {
    margin-top: 15px;
    font-size: 14px;
}

.link-text a {
    color: #90a9f4;
    text-decoration: none;
    font-weight: bold;
}

.link-text a:hover {
    text-decoration: underline;
}
.admin-section {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    gap: 10px;
}

.admin-box {
    flex: 1;
    padding: 15px;
    background-color: #f2f2f2;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.admin-box h3 {
    margin-bottom: 10px;
    font-size: 16px;
}

.admin-box p {
    font-size: 22px;
    font-weight: bold;
    color: #333;
}