<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <main class="login-page">
        <section class="login-container">
            <header class="login-header">
                <h1>Online Voting System</h1>
                <p>Login</p>
            </header>

            <form class="login-form" id="loginForm" th:action="@{/login}" method="post">
                <div class="form-group">

                    <label for="phone">
                        Mobile Number
                    </label>

                    <input
                        type="text"
                        id="phone"
                        name="phone"
                        class="form-input"
                        placeholder="Enter your Mobile Number"
                        pattern="9[876]\d{8}"
                        maxlength="10"
                        required
                    >

                </div>
                <div class="form-group">

                    <label for="password">
                        Password
                    </label>

                    <input
                        type="password"
                        id="password"
                        name="password"
                        class="form-input"
                        placeholder="Enter your password"
                        required
                    >

                </div>

                <div class="form-group">

                    <button type="submit" class="login-button">
                        Login
                    </button>

                </div>

            </form>

        </section>

    </main>
    <script src="../js/script.js"></script>

</body>
</html>
